<% content_for :nav do %>
<%= get_navigation("home") %>
<% end %>
<!-- Slider -->
<% content_for :header do %>



<div id="slider">
	<div id="slider-holder">
		<ul>
		    <li>
		
		    	<div class="slide-info">
		    		<h2 >Browse Restaurants in Your Area</h2>
		    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue. Donec felis eros, luctus at blandit.</p>
		    		<a href="#" class="button-more">More</a>
		    	</div>
		    	<div class="slide-image" style="position:relative; top: 30px;">
		    		<%= image_tag "deli5.png", :alt => 'foo' %>
		    	</div>
		    </li>
		    <li>
		    	<div class="slide-info">
		    		<h2 >Find the Best Dishes</h2>
		    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue. Donec felis eros, luctus at blandit.</p>
		    		<a href="#" class="button-more">More</a>
		    	</div>
		    	<div class="slide-image">
		    	 	<%= image_tag "chef.png", :alt => 'foo' %>
		    	</div>
		    </li>
		    <li>
		    	<div class="slide-info">
		    		<h2>Share your opinion</h2>
		    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue. Donec felis eros, luctus at blandit.</p>
		    		<a href="#" class="button-more">More</a>
		    	</div>
		    	<div class="slide-image">
		    		<%= image_tag "critic.png", :alt => 'foo' %>
		    	</div>
		    </li>
		</ul>
	</div>
	<div class="slider-nav">
		<a href="#" class="prev">Previous</a>
		<a href="#" class="next">Next</a>
	</div>
</div>
<!-- END Slider -->
<% end %>

<% content_for :three_column do %>
<!--
<div class="cols three-cols">
	<div class="cl">&nbsp;</div>
	<div class="col">
		<h2></h2>
		<h3 class="notext txt-monday-again">MONDAY AGAIN</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue. Donec felis eros, luctus at blandit ac.</p>
		<p><a href="#" class="more">Learn more</a></p>
	</div>
	<div class="col">
		<h2></h2>
		<h3 class="notext txt-wedothis">WE DO THIS AND THAT....</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. </p>
		<p><a href="#" class="more">Learn more</a></p>
	</div>
	<div class="col col-last">
		<h2></h2>
		<h3 class="notext txt-247">24/7 YES REALLY...</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue.</p>
		<p><a href="#" class="more">Learn more</a></p>
	</div>
	<div class="cl">&nbsp;</div>
</div>
END Three Column Content -->
<% end %>