<h1>New Review</h1>

	<% if user_signed_in? %>
	<%= render :partial => "reviews/form" %>
	<% else %>
	<br/>
	<div class="fberrorbox">Error: You must sign in via facebook login if you wish to post a review.</div> 
	
	<br/>
	<a style="text-decoration:none;" href="<%= user_omniauth_authorize_path(:facebook) %>"><div style="display:inline-block;"><%= image_tag "facebook_icon.png" %></div><div class="underline_hover" style="display:inline-block; position:relative; left:7px; bottom:5px;"> <h1> Sign in </h1></div></a>
	<% end %>
</div>


<%= link_to 'Back', root_path %>