<div style="text-align:center;">
<h1> 404: Not found.Congrats, you broke the site.</h1>
<h3> Here is a picture of a random kitteh of the internetz as a token of my appreciation.</h3>
</div>
<br/>
<%= image_tag "fatcat.jpg", :style => "align:center; position:relative; left:180px;" %>
